<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="cn.edu.cqupt.mis.user.register.dao.UserRegisterDao">    <insert id="insertNewUser" parameterType="cn.edu.cqupt.mis.user.register.model.UserRegisterMessage">        INSERT INTO user_message (user_name, user_id, password, e_mail, study_direction)        VALUE (#{userName}, #{userId}, #{password}, #{eMail}, #{studyDirection})    </insert>    <select id="judgeUserId" parameterType="java.lang.Integer" resultType="java.lang.Object">        SELECT user_id        FROM user_message        WHERE user_id = #{userId}    </select>    <select id="judgeUserEmail" parameterType="java.lang.String" resultType="java.lang.Object">        SELECT e_mail        FROM user_message        WHERE e_mail = #{eMail}    </select></mapper>